body {
	/* Setting default text color, background and a font stack */
	color: #eee;
	background: repeat-x #222222;
	font-family: Arial, Helvetica, sans-serif;
}
main {
	/* The main form container */
	background-color: #1C1C1C;
	border: 1px solid #080808;
	margin: 4% auto;
	padding: 2.5%;
	width: 90%;
	-moz-box-shadow: 0 0 1px #444 inset;
	-webkit-box-shadow: 0 0 1px #444 inset;
	box-shadow: 0 0 1px #444 inset;
}
main h1 {
	/* The form heading */
	font-family: Century Gothic, Myriad Pro, Arial, Helvetica, sans-serif;
	font-size: 2.1em;
	text-align: center;
	margin-top: 0.1em;
}
form {
	text-align: center;
}
fieldset {
	/* The light rounded section, which contans the fields */
	background-color: #1E1E1E;
	border: 1px solid #0E0E0E;
	margin-top: 0.3em;
	min-width: 12em;
	padding: 30px 10px; /* CSS3 box shadow, used as an inner glow */
	-moz-box-shadow: 0 0 20px #292929 inset;
	-webkit-box-shadow: 0 0 20px #292929 inset;
	box-shadow: 0 0 20px #292929 inset;
}
main, fieldset {
	/* Rounding the divs at once */
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
}
fieldset *:not(legend):not(small):not(div) {
	font-family: Century Gothic, Myriad Pro, Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	word-spacing: 0.1em;
	padding-top:.15em ;
	margin-top: .2em;
	text-indent: .2em;
}
label {
	width: 25%;
	color: wheat;
	min-width: 2.0em;
	word-spacing: 0;
	font-size: 0.9em;
	float: left;
	text-align: right;
	clear: left;
}
label:not([for="dept2"]):before{
	content: '*';
	font-size: 1em;
	color: #FF2222;
}
input, select, textarea, #gender {
	/* The text boxes */
	width: 60%;
	/* margin-right: 5em;
	*/
	float: left;
	text-align: justify;
	outline: none; /* Preventing the default Safari and Chrome text box highlight */
}
input, select, textarea{
	border: 1px solid #444;
	color: #FFF;
	background: #222;
}
option[selected]{
	background-color:#222;
	color: #444;
}
#gender * {
	float: left;
	margin: 0;
	padding: 0;
}
input[type="radio"] {
	width: 10%;
	min-width: 0.8em;
	height: 1em;
}
textarea {
	width: 80%;
	height: 4.5em;
	font-size: 0.9em;
	float: none;
}
legend {
	font-family: serif, sans-serif, 微软雅黑, 宋体;
	text-align: left;
	font-size: 1.1em;
	color: #454745;
}
small {
	font-size: 0.8em !important;
	color: #404040;
}
small a, small a:visited {
	font-size: 1.0em !important;
	color: #373830;
}
button {
	/* The submit button container */
	text-align: center;
	margin-top: .5em;
	font-size: 2.5em;
	border: 1px solid #444;
	color: white;
	background: #2b8bc7;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
select:focus, input:focus, button:hover {
	background-color: #d0ecfd;
	border: 5px solid blue;
	font-weight: bolder;
	color: green;
}
input:hover, select:hover {
	-moz-box-shadow: 0 0 8px blue;
	-webkit-box-shadow: 0 0 8px blue;
	box-shadow: 0 0 8px blue;
}

*::-moz-placeholder {
	color:#444;
}
*::-webkit-input-placeholder {
	color:#444;
}
*:-ms-input-placeholder {
	color:#444;
}

#error{
	top: 0.1em;
	width: 99%;
	position: fixed;
	z-index: 100;
	text-align: center;
	margin:auto;
}
.error-tip {
	/* The error divs */
	text-align: center;
	border: 3px solid green;
	background-color: #970F08;
	color: white;
	font-size: 0.9em;
	font-weight: 100;
	word-spacing: 0.4px;
	padding: 5px 0 5px 10px;
	text-shadow: 1px 1px 0 #555555;
}

footer {
	text-align: center;
}
footer ul {
	list-style-type: none;
	display: block;
	color: #444;
}
footer a, footer a:visited {
	color: #465c71;
	text-decoration: none; /* 不显示超链接下划线 */
}
@media all and (min-width:800px) {
	footer li {
		display: inline;
	}
	
	/* 页脚竖线 */
	footer li:before {
		margin-right: 0.5em;
		content: '|';
	}
	footer li:first-child:before {
		content: ' ';
	}
}