body {
	/* Setting default text color, background and a font stack */
	color: #eee;
	background: repeat-x #222222;
	font-family: Arial, Helvetica, sans-serif;
}
main {
	/* The main form container */
	background-color: #1C1C1C;
	border: 1px solid #080808;
	margin: 5% auto;
	padding: 2.5%;
	width: 90%;
	-moz-box-shadow: 0 0 1px #444 inset;
	-webkit-box-shadow: 0 0 1px #444 inset;
	box-shadow: 0 0 1px #444 inset;
}
main h1 {
	/* The form heading */
	font-family: Century Gothic, Myriad Pro, Arial, Helvetica, sans-serif;
	font-size: 2.5em;
	text-align: center;
}
form {
	text-align: center;
}
fieldset {
	/* The light rounded section, which contans the fields */
	background-color: #1E1E1E;
	border: 1px solid #0E0E0E;
	margin-top: 0.3em;
	min-width: 12em;
	padding: 30px 10px; /* CSS3 box shadow, used as an inner glow */
	-moz-box-shadow: 0 0 20px #292929 inset;
	-webkit-box-shadow: 0 0 20px #292929 inset;
	box-shadow: 0 0 20px #292929 inset;
}
main, fieldset {
	/* Rounding the divs at once */
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
}
fieldset *:not(legend):not(small):not(div) {
	font-family: Century Gothic, Myriad Pro, Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	letter-spacing: 0.1em;
	padding-top: .1em;
	margin-top: .2em;
}
label {
	width: 25%;
	min-width: 2.0em;
	float: left;
	text-align: right;
	clear: left;
}
input, select, textarea, .gender {
	/* The text boxes */
	width: 60%;
	/* margin-right: 5em;
	*/
	float: left;
	text-align: justify;
	outline: none; /* Preventing the default Safari and Chrome text box highlight */
}
input, select, textarea {
	border: 1px solid #444;
	color: #FFF;
	background: #222;
}
.gender *{
	float: left;
	margin:0;
	padding: 0;
}
input[type="radio"] {
	width: 10%;
	min-width: 0.8em;
	height: 1em;
}
textarea {
	width: 80%;
	height: 4.5em;
	float: none;
}
select, option {
	text-align: center;
}
legend {
	font-family: serif, sans-serif, 微软雅黑, 宋体;
	text-align: left;
	font-size: 1.1em;
}
small {
	font-size: 0.8em;
}
small a {
	font-size: 1.0em !important;
}
button {
	/* The submit button container */
	text-align: center;
	margin-top: .5em;
	font-size: 2.5em;
	border: 1px solid #f4f4f4;
	cursor: pointer;
	background: #d0ecfd;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
button:hover {
	background-color: #dcf2ff;
	border: 2px solid white;
}
input:hover, input:focus {
	-moz-box-shadow: 0 0 8px lightblue;
	-webkit-box-shadow: 0 0 8px lightblue;
	box-shadow: 0 0 8px lightblue;
}
.errorTip {
	/* The error divs */
	background-color: #970F08;
	color: white;
	font-size: 10px;
	height: 26px;
	letter-spacing: 0.4px;
	margin-left: 20px;
	padding: 5px 0 5px 10px;
	position: absolute;
	text-shadow: 1px 1px 0 #555555;
	width: 200px;
	right: -130px;
}